@tailwind base;
@tailwind components;
@tailwind utilities;


.winners-list {
    list-style-type: none;
    padding:20px;
}

.winners-list li {
    padding-top: 10px;
    border-bottom: 1px solid red;
}

a.underline.text-gray-900.dark\:text-white {
    font-size: 20px;
}

.winners-list .winner {
    font-weight: bold;
}

.winners-list .winner::after {
    content: "⭐️"
}

.total {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    padding-top: 40px;
}

.svg-qr {
    transform: scale(0.5);
    transform-origin: top;
    width: 100%;
    margin-top: -10px;
}

.scan-to-win {
    padding-top: 2rem;
    text-align: center;
    font-size: 2rem;
    color: #fff;
}